
.ItemEditFormModal {
    max-width: 100%;
    width: 100%;
    @include desktop {
        max-width: 1200px;
    }
    // @include phone {
    //     .ant-modal-header, .ant-modal-body, .ant-form, .ant-modal-title {
    //         font-size: 1.4em;
    //     }
    // }

    .col {
        @include desktop {
            min-width: 50%;
        }
        flex: 0 0 80%;
        margin: 0.2vh;
        // style={{ flexFlow: 'column wrap;'}}
    }
    .ant-modal-content {
        max-width: 100%;
    }
    & .ant-divider-horizontal {
        margin-top: 0.6vh;
        margin-bottom: 0.6vh;
    }
    & .ant-form-item {
        margin-bottom: 1.2vh;
    }

    span {
        max-width: 100vw;
    }
    & .ant-select-selector {
        max-width: 100vw;
    }
    input {
        max-width: 100vw;
    }
    // textarea {
    //     min-width: 20em;
    // }
    form {
        flex-flow: column wrap;
        display: flex;

        @include desktop {
            max-height: 90vh;
        }
    }
    @extend .no-arrow-number-input;
}

.ItemBundleItemEntry {
    display: flex;
    justify-content: center;
    .ItemSelect {
        flex-grow: 2;
    }
    .ant-form-item {
        &:nth-child(1){
            flex-basis: 25em;
        }
        &:nth-child(2){
            flex-basis: 5em;
        }
        padding: 5px;
    }
}