
.orderOption {
    @include grid-3();

    grid-template-rows: 25px 25px;
    
    & div:nth-of-type(1) {
        & img {
            width: 24px;
            align-self: center;
        }
        grid-row-start: span 2;
        padding-right: 4px;
        // grid-column-start: 1;
        grid-template-columns: 1fr 1fr;
        display: grid;
        // }
        // & :nth-child(1) {
        padding: 2px;
        font-weight: bold;
    }
    
    & :nth-last-child(1) {
        // background-color: purple;
        grid-column-start: span 2;
    }
}

.OrderItemSelectDropdown {
    .ant-select-item-option-content {
        border-bottom: 1px solid #dddddd44;
    }
}
.orderItemOption {
    // @extend .orderOption;
    display: grid;
    grid-template-columns: auto auto 30px; // item.name | item.description ; (vendor|manufacturer).icon ; (vendor|manufacturer).name
    grid-template-rows: 25px 25px;
    & img {
        width: 24px;
        height: initial;
        align-self: center;
    }
    & span:nth-of-type(1) {
        font-weight: bolder;
        font-size: 1em;
    }
    & span:nth-of-type(2),
    & span:nth-of-type(5) {
        // & :nth-child (2) {
        text-align: right;
        padding-right: 3px;
    }
    & span {
        font-size: 0.9em;
    }
}

.OrderSelect,
.OrderItemSelect {
    display: flex;
    .ant-picker-input input {
        width: 55px;
    }
    & .ant-select .ant-select-selector {
        height: 55px;
    }
}

#OrderForm {
    .ant-input-affix-wrapper {
        width: initial;
        input[type="number"] {
            width: 5em;
        }
    }
}


.OrderItemInput {
    display: grid;
    grid-template-columns: repeat(23, 3.75%);
    grid-template-rows: 40px 40px;
    column-gap: 4px;
    > * {
        height: min-content;
    }
    @extend .no-arrow-number-input;
    input {
        width: initial;
    }
    #ItemExtraInfo {
        display: flex;
        justify-content: space-between;

        > * {
            width: 40%;
        }

        // Input[name="serial_no"] {
        //     border: none;
        // }
        .VendorItemSelect {
            .ant-select-arrow {
                line-height: 0.6em;
                font-size: 0.6em;
            }
        }
        input.ant-input {
            border: none;
            line-height: 0.8em;
            font-size: 0.8em;
            height: 1.9em;
            padding-left: 1px;
            padding-right: 1px;
            &:last-child {
                text-align: right;
                padding-right: 3px;
            }
        }
        .ant-select-selector {
            padding-left: 0;
            // line-height: 0.8em;
            font-size: 0.8em;
            height: 20px;
            input {
                height: inherit;
                // line-height: inherit;
                // font-size: inherit;
            }
            .ant-select-selection-placeholder {
                line-height: inherit;
            }
        }
    }
    .ItemSelect,
    #OrderItemSelectContainer {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }
    [name="quantity"] {
        min-width: 100%;
        width: 100%;
        grid-column-start: span 2;
        .ant-input-number-input {
            padding-left: 5px; // was 11px
            padding-right: 5px;
        }
    }
    .ShipmentSelect {
        grid-column-start: span 11;
    }
    #cost_item {
        grid-column-start: span 3;
        input[type="number"] {
            min-width: 80%;
            width: 90%;
        }
    }
    #cost_tax {
        grid-column-start: span 3;
        input[type="number"] {
            min-width: 80%;
            width: 90%;
        }
    }
    #cost_total {
        grid-column-start: span 3;
        input[type="number"] {
            min-width: 80%;
            width: 90%;
        }
    }
    // Input[name="vendor_item"] {
    //     grid-column-start: span 6;
    // }
}