// @import "~antd/dist/antd.css";
@import "~antd/lib/style/index.css";
@import "~antd/lib/auto-complete/style/index.css";
@import "~antd/lib/button/style/index.css";
@import "~antd/lib/date-picker/style/index.css";
@import "~antd/lib/divider/style/index.css";
@import "~antd/lib/form/style/index.css";
@import "~antd/lib/icon/style/index.css";
@import "~antd/lib/input/style/index.css";
@import "~antd/lib/menu/style/index.css";
@import "~antd/lib/message/style/index.css";
@import "~antd/lib/modal/style/index.css";
@import "~antd/lib/select/style/index.css";
@import "~antd/lib/spin/style/index.css";
@import "~antd/lib/switch/style/index.css";
@import "~antd/lib/table/style/index.css";
@import "~antd/lib/tooltip/style/index.css";
@import "~antd/lib/tree/style/index.css";
// TODO: consider using the [antd-scss-theme-plugin](https://github.com/intoli/antd-scss-theme-plugin) to make use of antd's less files / variables

/**
 * antd Specific overrides
 **/

 #image-select {
    .ant-select-selection {
        height: 60px;
        padding: 5px;
    }
}

// Descriptions
.ant-descriptions-row {
    th.ant-descriptions-item-label {
        font-weight: bold;
    }
    td.ant-descriptions-item-content {
        padding: 10px 18px;
    }
}

pre {
    margin-bottom: 0;
    font-size: smaller;
}

// Buttons
.ant-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: currentColor;
        height: 1em;
        margin: 0;
        padding: 0;
    }
    > .anticon + span, 
    > span + .anticon,
    > svg + span, 
    > span + svg {
        margin-left: 3px;
    }
}