
/**
 * Ant Design - Tree
**/

.ItemCategoryTree {
    // border: 1px solid red;
    user-select: none;
    & img,
    & svg {
        // margin-right: 20px;
        max-width: 25px;
        position: relative;
        right: 5px;
        bottom: 1px;
        background-color: white;
        vertical-align: middle;
    }

    .ant-tree-node-content-wrapper {
        &:hover {
            img {
                background-color: transparent;
            }
        }
    }

    // .ant-tree-treenode-switcher-open {
    .ant-tree-switcher-noop {
        display: none;
        // visibility: hidden;
    }
    .ant-tree-treenode-switcher-open {
        .ant-tree-switcher-noop {
            display: initial;
            // width: 35px;
            // visibility: hidden;

            &.ant-tree-switcher {
                // background: white;
                background: initial;
                // display: none;
                // content: 'E'
            }
        }
    }
    .ant-tree-indent-unit::before {
        top: 0 !important;
    }
    .ant-tree-treenode-selected {
        .ant-tree-node-content-wrapper {
            // background-color: white;

            & img {
                background-color: transparent;
            }
        }
    }


}

.ItemCategoryContextMenu {
    & .ant-popover-inner-content {
        padding: 0;
    }

}
