.drag_modal {
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
//   right: auto !important;
//   bottom: auto !important;
//   top: 100px;
//   border: 1px solid red;
}

.drag_title {
  cursor: move;
}

.ant-modal {
  top: auto !important;
  padding-bottom: 0 !important;
}

$grid_size: 100px;
$border_size: 1px;
$grid_size_computed: $grid_size - $border_size * 2;

// GRID
// .drag_title,
// .ant-modal-mask {
//     background:
//         linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
//         linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
//         linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
//         linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
//         linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 $grid_size_computed, transparent $grid_size_computed),
//         linear-gradient(-90deg, #aaa 1px, transparent 1px),
//         linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 $grid_size_computed, transparent $grid_size_computed),
//         linear-gradient(#aaa 1px, transparent 1px),
//         #f2f2f2;
//     background-size:
//         4px 4px,
//         4px 4px,
//         $grid_size $grid_size,
//         $grid_size $grid_size,
//         $grid_size $grid_size,
//         $grid_size $grid_size,
//         $grid_size $grid_size,
//         $grid_size $grid_size;
// }