.resize-handle {
    &:after {
        content: " ";
        width: 5px;
        height: 20%;
        display: block;
        overflow: hidden;
        line-height: 5px;
        margin-left: 2px;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: #cccccc;
        text-shadow: 1px 0 1px black;
        top: 40%;
        position: absolute;
        border: 1px solid rgb(211, 211, 211);
        line-height: normal;
    }
}

.label-stage-container {
    &:focus {
        outline: none;
    }
}
$alternateRow: #fafafa;
.LabelPropertiesDescription {
    & .ant-descriptions-row {
        & th, td {
            padding-top: 4px;
            padding-bottom: 4px;
        }
        & .ant-descriptions-item-label{
            background-color: initial;
        }
    }
    & .ant-descriptions-row:nth-of-type(odd) {
        background-color: $alternateRow;
        // & .ant-descriptions-item-label {
        //     background-color: $alternateRow;
        // }
    }
}