@import "~jsoneditor/dist/jsoneditor.css";

/**
 * Docs for styling:
 * [Docs](https://github.com/josdejong/jsoneditor/blob/develop/docs/styling.md)
 * [Example](https://github.com/josdejong/jsoneditor/blob/develop/examples/css/darktheme.css)
**/

.jsoneditor-react-container {
    width: 100%;
    height: 100%;
}


.JsonModal {
    .ant-modal-body {
        padding: 0;
        .jsoneditor {
            border: none;
        }
    }
}