.ItemTable {
    user-select: none;
    .ant-table-cell:nth-of-type(1) {
        text-align: center;
        img {
            width: 25px;
        }
        svg {
            height: initial;
            width: 20px;
        }
    }
    .ant-table-cell:nth-last-of-type(1) {
        width: 140px;
    }

    .ant-table-thead > tr > th {
        &:not(:first-child) {
            border-left: 1px solid #f0f0f0;
        }
        padding: 3px;
        @include desktop {
            padding: 6px;
        }
    }

    .ant-table-tbody > tr > td {
        // &:not(:first-child) {
        //     border-left: 1px solid #fafafa;
        // }
        @include phone {
            padding: 3px;
        }
        @include tablet {
            padding: 3px;
        }
        @include desktop {
            padding: 12px;
        }
    }

    .ant-table-thead tr th.ant-table-column-has-sorters .ant-table-filter-column-title {
            padding-right: 2px;
    }
}

.vendorIcon {
    height: 28px;
}

.IconButton {
    // position: relative;
    // display: block;
    // margin: 0;
    // padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: color, border-color, background, padding;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.15s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1),
        cubic-bezier(0.645, 0.045, 0.355, 1),
        cubic-bezier(0.645, 0.045, 0.355, 1),
        cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s, 0s, 0s, 0s;

    // color:rgba(0,0,0,.85);
    &:hover {
        color: rgba(64, 169, 255, 0.7);
    }
}

.ItemTableMouseOver {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 25px;
    max-width: 50%;
    max-height: 90%;
    font-size: 13px;
    font-family: Consolas, MONOSPACE;
    background: #e8f4ff;
}
