# Caddyfile
# Directives
# https://caddyserver.com/docs/caddyfile/directives
# 
# adapt caddyfile with 
#    `~/caddy adapt -verify -pretty -config client/docker/caddyfile`
#

# Globals
{
	# debug
	http_port  80
	https_port 443
	# https://caddyserver.com/docs/caddyfile/options#storage
	storage file_system {
        root {$DATA_DIRECTORY}
    }
	admin off
}

(tls-config) {
	tls {$TLS_CA_EMAIL} {
		# Let's Encrypt staging
		# https://letsencrypt.org/docs/staging-environment/
		# see also: client certificates (see tls directive docs)
		# https://caddyserver.com/docs/caddyfile/directives/tls
		ca {$TLS_CA_URL}
		dns gandi {$GANDI_API_KEY}
	}
}

{$WEB_DOMAIN}/health-check {
	import tls-config
	respond "ok" 200
}

{$WEB_DOMAIN}/metrics {
	import tls-config
	# https://caddyserver.com/docs/caddyfile/directives/metrics
	metrics
}

{$WEB_DOMAIN}/console/* {
	import tls-config
	uri replace /console/ /graphql/ 1
	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	reverse_proxy {$API_HOST}
}

{$WEB_DOMAIN}/graphql/* {
	import tls-config
	uri replace /graphql/ /v1/graphql/ 1
	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	reverse_proxy {$HASURA_GRAPHQL_ENGINE_HOST} {
	    # https://hasura.io/docs/latest/graphql/core/api-reference/health.html
	    health_path /healthz
	}
}


{$WEB_DOMAIN} {
	import tls-config
	
	encode zstd gzip

	# https://caddyserver.com/docs/caddyfile/matchers
	# @websockets {
	    # header Connection *Upgrade*
	    # header Upgrade    websocket
	    # path  /api/
	# }
	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	# reverse_proxy @websockets {$API_HOST}

	# https://caddyserver.com/docs/caddyfile/directives/handle
	handle {
		# https://caddyserver.com/docs/caddyfile/directives/root
		root * {$APP_DIRECTORY}
		# https://caddyserver.com/docs/caddyfile/directives/try_files
		try_files {path} index.html
	}
	
    # @notAPI {
    #     not {
    #         path /api*
    #     }
    #     file {
    #         try_files {path} {path}/ /index.html?{query}
    #     }
    # }
    # rewrite @notAPI {http.matchers.file.relative}
	# # respond @notAPI {http.matchers.file.relative}

	# https://caddyserver.com/docs/caddyfile/directives/file_server
	file_server

	# https://caddyserver.com/docs/caddyfile/directives/handle_errors
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}

	# https://caddyserver.com/docs/caddyfile/directives/push
	push


	# request logging
	# https://caddyserver.com/docs/caddyfile/directives/log
	log {
		output stdout
		# output file /var/log/access.log {
		#     roll_size 10mb
		#     roll_keep 10
		#     roll_keep_for 720h
		# }
		
		format console
		# format json

		# DEBUG, INFO, WARN, ERROR, PANIC, and FATAL
		level DEBUG
	}

# ACME server ?
# https://caddyserver.com/docs/caddyfile/directives/acme_server
}